body {
  -webkit-text-size-adjust: 100%;
}

.fire-navigation {
  position: fixed;
  background-color: #ffeeee;
  color: white;
  width: 100%;
  height: 50px;
  top: 0px;
  right: 0px;
}
.fire-navigation-opt {
  display: block;
  height: 100px;
  width:100%;
}
.fire-navigation-right {
  position: fixed;
  right: 0px;
}

.fire-content {
  color: white;
  width: 100%;
  height: 1000px;
}

.fire-footer {
  background-color: #550000;
  color: white;
  width: 100%;
  height: 100px;
}

.fire-naviitem {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  flex-wrap:  wrap;
  color:black;
  float: left;
  margin: 0px;
  padding: 10px;
  text-decoration: none;
  background-color: #ffeeee;
}
.fire-naviitem-checked {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-wrap:  wrap;
  color:black;
  float: left;
  margin: 0px;
  padding: 10px;
  text-decoration: none;
  background-color: #ffeeee;
}

.fire-naviitem:hover {
  background-color: #8888ff;
}

.fire-mepage-login-item {
  color: #000000
}


/****
** user pin
****/
.user-pin {
  display: inline-block;
  margin: 1% 1%;
  padding: 1% 1%;
  width: 95%;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  border: 2px solid #FAFAFA;
  margin-left: auto;
  margin-right: auto;
}
.user-pin-cont {
  font-size:12px;
  color:black;
  margin: 1% 1%;
  padding: 1% 1%;
  font-weight: 900;
  background-color: rgb(240,240,250);
}
.user-pin-hunt {
  display:inline-block;;
  width: 10%;
  height: 50px;
  margin: 1% 1%;
  padding: 1% 1%;
  background-color:#555555;
  color: white;
  text-align: center;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  border: 2px solid #FAFAFA;
  font-size: 12px;
}
.user-pin-hunt-me {
  display:inline-block;;
  width: 10%;
  height: 50px;
  margin: 1% 1%;
  padding: 1% 1%;
  background-color:#555555;
  color: white;
  text-align: center;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  border: 2px solid #FAAAAA;
  font-size: 12px;
}
.user-pin-userimage {
  width:35%;
  height:auto;
  display:inline;
  margin: 1% 1%;
  padding: 1% 1%;
  background-color:#000022;
}
.user-pin-name {
  font-size:24px;
  color:black;
  margin: 1% 1%;
  padding: 1% 1%;
  font-weight: 900;
  background-color: rgb(155,155,155);
}

.user-pin-point {
  font-size:12px;
  color:green;
  margin: 1% 1%;
  padding: 1% 1%;
}
.user-pin-address {
  font-size:12px;
  color:black;
  margin: 1% 1%;
  padding: 1% 1%;
  font-weight: 900;
/*  background-color: rgb(155,155,155);*/
}

/**
* dialog
**/
.fire-dialog {
  background: #FFF;
  width: ${this.width};
  position: fixed;
  padding: 1.5em;
  margin: 1em auto;
  top: 0px;
  border: 0;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

.fire-dialog-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}




/**********************
Target Feed CSS
**********************/
div.targetNaviId {
  background-color: #ffeeee;
  color: white;
}

.target-body {
  width:600px;
}
@media (max-width: 600px) {
.target-body {
  width:100%;
}
}

.target-columns {
  width:100%;
  background-color: black;
}

.target-column {
  display: block;
  background: #FEFEFE;
  float:left;
  width:50%;
  margin: 0% 0%;
  padding: 0% 0%;
}

.target-pin {
  column-gap:
  display: block;
  margin: 1% 1%;
  padding: 1% 1%;
  width: 95%;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  border: 2px solid #FAFAFA;
}
.target-pin-point {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: black;
  color: white;
}
.target-anchor {
  width:96%;
  display: inline-block;
	border-radius: 0px;
  margin: 1% 1%;
  padding: 1% 1%;
	color: white;
	text-decoration: none;
}

.target-anchor:hover {
	background-color: #ee9999;
}

.target-pin-image {
  width:95%;
  height:auto;
  display:inline;
  margin: 1% 1%;
  padding: 1% 1%;
  background-color:#000022;
}

.target-pin-title {
  font-size:16px;
  color:black;
  margin: 1% 1%;
  padding: 1% 1%;
  font-weight: 600;
}

.target-pin-info {
  font-size:12px;
  color:green;
  margin: 1% 1%;
  padding: 1% 1%;
}

.hunter-pin-image {
  width:95%;
  height:auto;
  display:inline;
  margin: 1% 1%;
  padding: 1% 1%;
  background-color:#000022;
}
