body {
  -webkit-text-size-adjust: 100%;
}

.fire-navigation {
  position: fixed;
  background-color: #ffeeee;
  color: white;
  width: 100%;
  height: 50px;
  top: 0px;
  right: 0px;
}
.fire-navigation-opt {
  display: block;
  height: 100px;
  width:100%;
}
.fire-navigation-right {
  position: fixed;
  right: 0px;
}

.fire-content {
  color: white;
  width: 100%;
  height: 1000px;
}

.fire-footer {
  background-color: #550000;
  color: white;
  width: 100%;
  height: 100px;
}

.fire-naviitem {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  flex-wrap:  wrap;
  color:black;
  float: left;
  margin: 0px;
  padding: 10px;
  text-decoration: none;
  background-color: #ffeeee;
}
.fire-naviitem-checked {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-wrap:  wrap;
  color:black;
  float: left;
  margin: 0px;
  padding: 10px;
  text-decoration: none;
  background-color: #ffeeee;
}

.fire-naviitem:hover {
  background-color: #8888ff;
}

.fire-mepage-login-item {
  color: #000000
}
